body {
  padding: 30px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgba(239, 236, 227, 0.71);
}

.block {
  width: 45%;
  margin-right: 5%;
  float: left;

  ol {
    padding: 0;
    list-style-position: inside;

    li {
      padding: 5px 0;
    }
  }
}

a {
  color: #00B7FF;
  text-decoration: none;
}

h1 {
  font-size: 40px;
  text-align: center;
  font-family: 'Kreon', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

small {
  display: block;
  font-size: 12px;
}

form {
  padding: 20px 0;
  overflow: hidden;
}

input {
  padding: 10px;
  margin: 0 10px 0 0;
  background: #ccc;
  font-size: 20px;
  border: none;
  float: left;
  line-height: 1
}

input[type="text"] {
  width: 60%;
  outline: none;
  padding: 14px 10px 13px;
}

input[type="submit"] {
  width: 9%;
  border: none;
  padding: 16px 10px 16px;
  font-size: 18px;
}

.back {
  position: absolute;
  top: 0;
  text-decoration: none;
  left: 0;
  background: rgba(0,0,0, 0.2);
  display: block;
  padding: 10px 15px;
  color: #000;

  &:hover {
    background: rgba(0,0,0, 0.5);
  }
}

.meta {
  float: right;
  padding: 0 0 10px;
  border-bottom: 4px solid #1a1a1a;
  margin: 50px 0 10px;
}

.vote {

  text-align: center;
  position: relative;
  top: -70px;
  clear: both;

  ul {
    padding: 0;
    display: inline-block;
    list-style: none;
  }

  li {
    float: left;
  }

  span {
    float: left;
    clear: left;
    width: 70px;
    margin-top: 5px;
  }

  a {
    line-height: 70px;
    width: 70px;
    float: left;
    margin-right: 20px;
    border-radius: 15px;
    background: #1a1a1a;
    font-size: 40px;
    color: #fff;

    &:hover {
      background: #3d3d3d;
    }

    &:active {
      background: #de5214;
    }
  }
}


.bar {
  height: 50px;
  border-radius: 10px;
  position: relative;
  background-color: #1a1a1a;
  padding: 5px;
  margin: 0 0 20px 0;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  clear: both;

  .inner {
    background-color: #fecf23;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fecf23), to(#fd9215));
    background-image: -webkit-linear-gradient(top, #fecf23, #fd9215);
    background-image: -moz-linear-gradient(top, #fecf23, #fd9215);
    background-image: -ms-linear-gradient(top, #fecf23, #fd9215);
    background-image: -o-linear-gradient(top, #fecf23, #fd9215);
    background-image: linear-gradient(top, #fecf23, #fd9215);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 3px;

    div {
      border-right: 5px solid #1a1a1a;
    }
  }

  div {
    background-color: #d43b11;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d43b11), to(#9f2c0b));
    background-image: -webkit-linear-gradient(top, #d43b11, #9f2c0b);
    background-image: -moz-linear-gradient(top, #d43b11, #9f2c0b);
    background-image: -ms-linear-gradient(top, #d43b11, #9f2c0b);
    background-image: -o-linear-gradient(top, #d43b11, #9f2c0b);
    background-image: linear-gradient(top, #d43b11, #9f2c0b);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;    height: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 3px 0 0 3px;
  }

}

@import 'fonts';