extends ../../../views/layout

block content
  a.back(href='/') Tillbaka
  p.meta Skapat av: #{bet.username}, Går ut: #{date}

    div.vote
      ul
        li
          if archive
            a(href="/"+bet.id+'/yes')
              i.icon-thumbs-up
          span (#{bet.yes})
        li
          if archive
            a(href="/"+bet.id+'/no')
              i.icon-thumbs-down
          span (#{bet.no})

  if percent !== underfined
    div.bar
      div(class="inner")
        div(style="width:"+percent+"%;")